@using System.Globalization
    
    <BarItem>
        <Button Clicked="()=>goToSets()" Style="font-size:1rem!important; padding-top:0!important">
            <BarIcon IconName="IconName.Dashboard" IconSize="IconSize.Large" />
            Sets
        </Button>
    </BarItem>
    <BarItem>
        <Button Clicked="()=>goToTopics()" Style="font-size:1rem!important; padding-top:0!important">
            <BarIcon IconName="IconName.Archive" IconSize="IconSize.Large" />
            Topics
        </Button>
    </BarItem>
    <BarItem>
        <Button Clicked="()=>goToPubs()" Style="font-size:1rem!important; padding-top:0!important">
            <BarIcon IconName="IconName.BookReader" IconSize="IconSize.Large" />
            Publications
        </Button>
    </BarItem>
    <BarItem>
        <Tooltip Text="Click to copy a link to the current object. Paste in an email or social media message." Multiline=true Fade=true Placement="TooltipPlacement.Bottom">
            <Button Clicked="@OnShare" Style="font-size:1rem!important; padding-top:0!important">
                <BarIcon IconName="IconName.ShareAlt" IconSize="IconSize.Large" />
                Share
            </Button>
        </Tooltip>
    </BarItem>
    <BarItem>
        <Tooltip Text="Click to start an email about the current display" Multiline=true Fade=true Placement="TooltipPlacement.Bottom">
            <Link To="@mailURI" Clicked="@buildComment" Class="btn" Target="Target.Blank" Style="font-size:1rem!important; padding-top:0!important">
            <BarIcon IconName="IconName.CommentAlt" IconSize="IconSize.Large" />
            Comment
            </Link>
        </Tooltip>
    </BarItem>
@code {
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] IJSRuntime JS { get; set; }
    [Inject] INotificationService NotificationService { get; set; }
    [CascadingParameter] Dictionary<string, object> globals { get; set; }
    RenderFragment dhdevIcon =@<img src="/Images/logo_white_background_cut.jpg" style="width:44px; height: 32px" />;
    RenderFragment meterIcon =@<img src="/Images/noun_meter system_2596699.png" style="width:44px; height: 32px" />;
    Version version = typeof(Program).Assembly.GetName().Version;
    string mailURI = "";

    async Task OnShare()
    {
        string link = "Link not yet implemented"; //((string)clientUtils.getfromGlobals("link2Share", globals)) ?? Navigation.BaseUri;
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", link);
        await NotificationService.Success("A link has been placed on the Clipbooard. Paste it anywhere to share.", "Sharing");
    }
    void buildComment()
    {
        //mailURI = clientUtils.getMailURI(globals);
    }
    private async Task goToSets()
    {
        //await sideMenuState.collapseAndReset();
        Navigation.NavigateTo($"/sets");
    }
    private async Task goToTopics()
    {
        //await sideMenuState.collapseAndReset();
        Navigation.NavigateTo($"/topics");
    }
    private async Task goToPubs()
    {
        //await sideMenuState.collapseAndReset();
        Navigation.NavigateTo($"/publications");
    }

}