@using System.IO;
@inject NavigationManager navigationManager
<Div Class="listControl">
    <h3>Editions</h3>
    @if (lstFiles.Count > 0)
    {
        <ul>
            @foreach (clsFile file in lstFiles)
            {
                <button @onclick="() => NavigateToFile(file.name)">@file.title</button>
            }
        </ul>
    }
    else
    {
        <p>Loading...</p>
    }
</Div>

@code {
    [Inject] HttpClient http { get; set; }
    List<clsFile> lstFiles = new List<clsFile>();
    protected override async Task OnInitializedAsync()
    {
        clsFileList files;
        HttpResponseMessage response = await http.GetAsync($"api/filelist");

        if (response.IsSuccessStatusCode)
        {
            files = await response.Content.ReadFromJsonAsync<clsFileList>();
            foreach (Li lItem in files.li)
            {
                lstFiles.Add(new clsFile(lItem.pbrestricted.pbajax.url, lItem.header.div.div[0].a.h5.text));
            }
        }
    }
    private void NavigateToFile(string fileName)
    {
        navigationManager.NavigateTo($"/Edition/{fileName}");
    }

    internal class clsFile
    {
        string _file;
        string _title;
        internal clsFile(string file, string title)
        {
            _file = file;
            _title = title;
        }
        internal string name { get { return Path.GetFileNameWithoutExtension(_file); } }
        internal string title { get { return _title; } }
    }

}
