@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Edition> Localizer

<pb-page endpoint="http://localhost:8081/exist/apps/HasidicStoriesServer"
         data-template="pages:pb-page" unresolved="unresolved">
    <pb-document id="document1" path=@fileName odd="Stories" view="page"></pb-document>
    <app-toolbar class="toolbar" sticky="sticky" dir="rtl">
        <pb-navigation emit="transcription" keyboard="left" subscribe="transcription" direction="backward" unit="div">
            <paper-button>
                <iron-icon icon="icons:file-upload" />
                <span class="clsToolbar">@Localizer["back"]</span>
            </paper-button>
        </pb-navigation>
        <pb-view src="document1" xpath="//teiHeader/fileDesc/titleStmt/title[@@type='main']" view="single" disable-history="">
            <pb-param name="header" value="short" load-css="/resources/css/editionTitle.css" />
        </pb-view>
        <pb-navigation emit="transcription" keyboard="right" subscribe="transcription" direction="forward" unit="div">
            <paper-button icon="icons:chevron-down">
                <span class="clsToolbar">@Localizer["forward"]</span>
                <iron-icon icon="icons:file-download" />
            </paper-button>
        </pb-navigation>
    </app-toolbar>
    <pb-progress></pb-progress>
    <!-- Output the document title -->
    <div class="content-body">
        <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription" wait-for="#facsimile" animation disable-history />
        <pb-facsimile id="facsimile" type="image" base-uri="http://localhost:8081/exist/apps/HasidicImages/" default-zoom-level="0"
                      show-navigation-control="show-navigation-control" subscribe="transcription" show-home-control="" />
    </div>
</pb-page>

@code {
    [Parameter] public string fileName { get; set; }
}

