@inject NavigationManager navigationManager
<Div Class="listControl">
    <h3>Editions</h3>
    @if (editionTitless.Count > 0)
    {
        <ul>
            @foreach (string edition in editionFiles)
            {
                <button @onclick="() => NavigateToFile(edition)">@edition</button>
            }
        </ul>
    }
    else
    {
        <p>Loading...</p>
    }
</Div>

@code {
    [Inject] HttpClient http { get; set; }
    List<string> editionTitless = new List<string>();
    List<string> editionFiles = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        clsFileList files;
        HttpResponseMessage response = await http.GetAsync($"api/filelist");

        if (response.IsSuccessStatusCode)
        {
            files = await response.Content.ReadFromJsonAsync<clsFileList>();
            foreach (Li lItem in files.li)
            {
                editionFiles.Add(lItem.pbrestricted.pbajax.url);
                editionTitless.Add(lItem.header.div.div[0].a.h5.text);
            }
        }
    }
    private void NavigateToFile(string fileName)
    {
        navigationManager.NavigateTo($"/Edition/{fileName}");
    }

    class clsFile
    {
        string _file;
        string _title;
        clsFile(string file, string title)
        {
            _file = file;
            _title = title;
        }
    }

}
