@using System.IO;
@inject NavigationManager navigationManager
<Div Class="listControl">
    <h3>Editions</h3>
    @if (globalService.Editions!=null && globalService.Editions.Count > 0)
    {
        <TreeView Nodes="globalService.Editions"
                  GetChildNodes="@(item => item.children)"
                  HasChildNodes="@(item => item.children?.Any() == true)"
                  SelectionMode="TreeViewSelectionMode.Multiple"
                  @bind-SelectedNodes="selectedNodes">
            <NodeContent>
                <Icon Name="IconName.Book" />
                <Button Class="linkStyle" @onclick="() => NavigateToFile(context.name)">@context.title</Button>
            </NodeContent>
        </TreeView>
    }
    else
    {
        <p>Loading...</p>
    }
</Div>

@code {
    [Inject] GlobalService globalService { get; set; }
    IList<clsEdition> selectedNodes = new List<clsEdition>();

    protected override void OnInitialized()
    {
        globalService.OnGlobalEditionsChanged += HandleGlobalEditionsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalEditionsChanged -= HandleGlobalEditionsChange;
    }
    private void HandleGlobalEditionsChange()
    {

        StateHasChanged();
    }
    private void NavigateToFile(string fileName)
    {
        navigationManager.NavigateTo($"/Edition/{fileName}", true);
    }

}
