@using System.Text.Json
@if (isWaitingToStar)
{
    <Div Style="height:42px"/>
    <Spinner cClass="spinContainer" />
}
else
{
    <Div style="position: relative; width: 100%; height: 100%;">
        <Div id="mapDiv" Class="listControl" />
        <Button Class="controlButton mapClear" Clicked="@OnClear">@clear</Button>
    </Div>
}
@code {
    //https://docs.maptiler.com/sdk-js/examples/geojson-markers/
    [Inject] GlobalService globalService { get; set; }
    [Inject] IJSRuntime JS { get; set; }
    [Parameter] public string clear { get; set; }

    private Action ChangeDelegate;//so the Handle method can be unsubscribed
    private DotNetObjectReference<Map> dotNetRef;
    private bool isMapInitialized = false; // Track if the map has been initialized
    private bool isWaitingToStar = true;

    protected override async Task OnInitializedAsync()
    {
        dotNetRef = DotNetObjectReference.Create(this);
        ChangeDelegate = async () => await HandleGlobalPointsChange();
        globalService.OnGlobalPointsChanged += ChangeDelegate;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
    public async Task Dispose()
    {
        globalService.OnGlobalPointsChanged -= ChangeDelegate;
        dotNetRef?.Dispose();
    }
    private async Task HandleGlobalPointsChange()
    {
        isWaitingToStar = false;
        StateHasChanged();
        await DrawMap();
    }
    private async Task DrawMap()
    {
        if (!isMapInitialized)
        {
            var center = globalService.Points.data.Center;
            await JS.InvokeVoidAsync("initializeMap", center, "mapDiv", dotNetRef);
            isMapInitialized = true;
            await Task.Delay(1000);
            await JS.InvokeVoidAsync("updatePoints", globalService.Points);
        }
        else
        {
            await JS.InvokeVoidAsync("updatePoints", globalService.Points);
        }
        StateHasChanged();
    }
    [JSInvokable]
    public async Task PointClicked(string placeId)
    {
        globalService.updateStoriesAndPoints(placeId);
    }
    async Task OnClear()
    {
        await JS.InvokeVoidAsync("resetPulsatingPoint");
        globalService.updateStoriesAndPoints();
    }
}
