@using System.Text.Json
<Div id="mapDiv" Class="listControl" style="width: 100%!important;height:100%!important;" >
    <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div
</Div>

@code {
    //https://docs.maptiler.com/sdk-js/examples/geojson-markers/
    [Inject] GlobalService globalService { get; set; }
    [Inject] IJSRuntime JS { get; set; }
    private Action ChangeDelegate;//so the Handle method can be unsubscribed
    private DotNetObjectReference<Map> dotNetRef;
    private bool isMapInitialized = false; // Track if the map has been initialized
    private bool isFirstUpdate = true; 

    protected override async Task OnInitializedAsync()
    {
        dotNetRef = DotNetObjectReference.Create(this);
        ChangeDelegate = async () => await HandleGlobalPointsChange();
        globalService.OnGlobalPointsChanged += ChangeDelegate;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
    public async Task Dispose()
    {
        globalService.OnGlobalPointsChanged -= ChangeDelegate;
        dotNetRef?.Dispose();
    }
    private async Task HandleGlobalPointsChange()
    {
        await DrawMap();
    }
    private async Task DrawMap()
    {
        if (!isMapInitialized)
        {
            var center = globalService.Points.data.Center;
            await JS.InvokeVoidAsync("initializeMap", center, "mapDiv", dotNetRef );
            isMapInitialized = true;
            await Task.Delay(1000);
            await JS.InvokeVoidAsync("updatePoints",globalService.Points);
        }
        else {
            await JS.InvokeVoidAsync("updatePoints",globalService.Points);
        }
        StateHasChanged();
    }
        [JSInvokable]
        public  async Task PointClicked(string placeId)
        {
            Console.WriteLine("placeId: " + placeId);
            //return Task.CompletedTask();
        }
}
