<Div Class="listControl">
    <h3>@caption</h3>
    @if (globalService.Persons!= null && globalService.Persons.Count > 0)
    {
        <TreeView Nodes="globalService.Persons"
                  TNode="clsPerson"
                  GetChildNodes="@(item => item.children)"
                  HasChildNodes="@(item => item.children?.Any() == true)"
                  SelectionMode="TreeViewSelectionMode.Multiple"
                  @bind-SelectedNodes="selectedNodes">

            <NodeContent>
                <Icon Name="IconName.IdCard" />
                @context.name
            </NodeContent>
        </TreeView>
    }
    else
    {
        <p>Loading...</p>
    }
</Div>



@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    IList<clsPerson> selectedNodes = new List<clsPerson>();
    IList<clsPerson> expandedNodes = new List<clsPerson>();
    protected override void OnInitialized()
    {
        globalService.OnGlobalPersonsChanged += HandleGlobalPersonsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalThemesChanged -= HandleGlobalPersonsChange;
    }
    private void HandleGlobalPersonsChange()
    {
        StateHasChanged();
    }
}
