<div class="@cClass">
    <div>
        <SpinKit Type="SpinKitType.Wave" Color="#F5F5F5" Centered="true" Size="100px" />
    </div>
</div>

@code {
    [Parameter] public string cClass { get; set; }

}
