@inject NavigationManager navigationManager
<Div Class="listControl">
    <h3>@caption</h3>
    @if (globalService.DisplayStoryTexts != null)
    {
        <Accordion>
            @foreach (clsEditionStories edition in globalService.DisplayStoryTexts.editions)
            {
                if (edition.display) { }
                <AccordionItem>
                    <AccordionHeader>
                        <Heading Size="HeadingSize.Is6">@edition.name</Heading>
                    </AccordionHeader>
                    <AccordionBody></AccordionBody>
                    @foreach (clsStoryText story in edition.stories)
                    {
                        if (story.display)
                        {
                            <p class="pStory" id=@($"{story.id}") @onclick="(() => HandleStoryClick(edition.name, story.id))">@story.text ...</p>
                        }
                    }
                </AccordionItem>
            }
            }
        </Accordion>
    }
    else
    {
        <p>Loading...</p>
    }
</Div>
@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    protected override async Task OnInitializedAsync()
    {
        globalService.OnDisplayStoriesChanged += HandleDisplayStoriesChanged;
    }
    public void Dispose()
    {
        globalService.OnDisplayStoriesChanged -= HandleDisplayStoriesChanged;
    }

    private void HandleDisplayStoriesChanged()
    {
        if (globalService.diplayStories) StateHasChanged();
    }

    private void HandleStoryClick(string editionName, string storyId)
    {
        string fileName = globalService.EditionFiles.getFileName(editionName);
        Console.WriteLine($"Clicked story ID: {storyId} in edition: {editionName} ({fileName})");

        navigationManager.NavigateTo($"/Story/{fileName}/{storyId}", false);
    }


}
