@inject IJSRuntime JS
@inject NavigationManager navigationManager
<Div Class="basicControl smallStoryControl">
    <Row Margin="Margin.Is1.FromTop" Class="topControlRow">
        <Column Class="smallControlCol">
            <h3>@caption</h3>
        </Column>
    </Row>
    <Row>
        <Column Class="smallControlCol">
            @if (globalService.Persons != null && globalService.Persons.Count > 0)
            {
                <Div Class="internalControl internalStoryPeopleControl">
                    <TreeView Nodes="globalService.Persons"
                              TNode="clsPerson"
                              id="peopleTree"
                              GetChildNodes="@(item => item.children)"
                              HasChildNodes="@(item => item.children?.Any() == true)"
                              SelectionMode="TreeViewSelectionMode.Multiple"
                              SelectedNodes="selectedNodes"
                              SelectedNodesChanged="selectedNodesChanged">

                        <NodeContent>
                            @if (Utils.isItemVisible(context))
                            {
                                <Icon Name="IconName.IdCard" />
                                <Button Class="linkStyle" @onclick="() => NavigateToPerson(context.link)">@context.name</Button>
                            }
                        </NodeContent>
                    </TreeView>
                </Div>
            }
        </Column>
    </Row>
</Div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    IList<clsPerson> selectedNodes = new List<clsPerson>();

    protected override void OnInitialized()
    {
        globalService.OnGlobalPersonsChanged += HandleGlobalPersonsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalPersonsChanged -= HandleGlobalPersonsChange;
    }
    private void HandleGlobalPersonsChange()
    {
        StateHasChanged();
    }
    private async void NavigateToPerson(string url)
    {
        await JS.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(url), "_blank");
    }
    private void selectedNodesChanged(IList<clsPerson> nodes)
    {
        foreach (clsPerson node in globalService.Persons)
        {
            if (nodes.Contains(node)) selectNode(node);
            else unSelectNode(node);
        }
        globalService.updateStoriesAndPoints();
    }
    void selectNode(clsPerson node)
    {
        node.selected = true;
        if (!selectedNodes.Contains(node)) selectedNodes.Add(node);
        JS.InvokeVoidAsync("highlight", "persname", node.xmlref, true);
    }
    void unSelectNode(clsPerson node)
    {
        node.selected = false;
        if (selectedNodes.Contains(node)) selectedNodes.Remove(node);
        JS.InvokeVoidAsync("highlight", "persname", node.xmlref, false);
    }
}
