@inject NavigationManager navigationManager
<Div Class="listControl bigControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column>
            <h3>@caption</h3>
        </Column>
        <Column>
            @counts
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.DisplayStoryTexts != null)
            {
                <Accordion>
                    @foreach (clsEditionStories edition in globalService.DisplayStoryTexts.editions)
                    {
                        if (edition.display)
                        {
                            <AccordionItem Visible="true">
                                <AccordionHeader >
                                    <Heading Size="HeadingSize.Is6"><AccordionToggle>@edition.name</AccordionToggle></Heading>
                                </AccordionHeader>
                                <AccordionBody>
                                    @foreach (clsStoryText story in edition.stories)
                                    {
                                        if (story.display)
                                        {
                                            <p class="pStory" id=@($"{story.id}") @onclick="(() => HandleStoryClick(edition.name, story.id))">@story.text [...]</p>
                                        }
                                    }
                                </AccordionBody>
                            </AccordionItem>
                        }
                    }
                </Accordion>
            }
            else
            {
                <p>Loading...</p>
            }
        </Column>
    </Row>
</Div>
@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    string counts;

    protected override async Task OnInitializedAsync()
    {
        globalService.OnStoriesToDisplayChanged += HandleDisplayStoriesChanged;
    }
    public void Dispose()
    {
        globalService.OnStoriesToDisplayChanged -= HandleDisplayStoriesChanged;
    }

    private void HandleDisplayStoriesChanged()
    {
        counts = globalService.DisplayStoryTexts.counts;
        StateHasChanged();
    }

    private void HandleStoryClick(string editionName, string storyId)
    {
        string fileName = globalService.EditionFiles.getFileName(editionName);
        Console.WriteLine($"Clicked story ID: {storyId} in edition: {editionName} ({fileName})");

        navigationManager.NavigateTo($"/Story/{fileName}/{storyId}", false);
    }


}
