@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject IJSRuntime JS
<Div Class="basicControl smallStoryControl">
    <Row Margin="Margin.Is1.FromTop" Class="topControlRow">
        <Column Class="smallControlCol">
            <h3>@caption</h3>
        </Column>
    </Row>
    <Row>
        <Column Class="smallControlCol">
            @if (globalService.Places != null && globalService.Places.Count > 0 )
            {
                <Div Class="internalControl internalStoryPlacesControl">
                    <TreeView Nodes="globalService.Places"
                              TNode="clsPlace"
                              id="placesTree"
                              GetChildNodes="@(item => item.children)"
                              HasChildNodes="@(item => item.children?.Any() == true)"
                              SelectionMode="TreeViewSelectionMode.Multiple"
                              SelectedNodes="selectedNodes"
                              SelectedNodesChanged="selectedNodesChanged">
                        <NodeContent>
                            <Icon Name="IconName.MapMarkerAlt" />
                            <Button Class="linkStyle" @onclick="() => NavigateToPlace(context.xmlref)">@context.name</Button>
                        </NodeContent>
                    </TreeView>
                </Div>
            }
        </Column>
    </Row>
</Div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    IList<clsPlace> selectedNodes = new List<clsPlace>();

    protected override void OnInitialized()
    {
        globalService.OnGlobalPersonsChanged += HandleGlobalPersonsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalPersonsChanged -= HandleGlobalPersonsChange;
    }
    private void HandleGlobalPersonsChange()
    {
        StateHasChanged();
    }
    private async void NavigateToPlace(string placeId)
    {
        await JSRuntime.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(placeId), "_blank");
    }
    private void selectedNodesChanged(IList<clsPlace> nodes)
    {
        foreach (clsPlace node in globalService.Places)
        {
            if (nodes.Contains(node)) selectNode(node);
            else unSelectNode(node);
        }
        globalService.updateStoriesAndPoints();
    }
    void selectNode(clsPlace node)
    {
        node.selected = true;
        if (!selectedNodes.Contains(node)) selectedNodes.Add(node);
        JS.InvokeVoidAsync("highlight", "placename", node.xmlref, true);
    }
    void unSelectNode(clsPlace node)
    {
        node.selected = false;
        if (selectedNodes.Contains(node)) selectedNodes.Remove(node);
        JS.InvokeVoidAsync("highlight", "placename", node.xmlref, false);
    }
}
