<Div Class="listControl">
    <h3>@caption</h3>
    @if (globalService.StoryTexts != null)
    {
        <Accordion>
            @foreach (editionStoryTexts edition in globalService.StoryTexts.editions)
            {
                <AccordionItem>
                    <AccordionHeader>
                        <Heading Size="HeadingSize.Is6">@edition.name</Heading>
                    </AccordionHeader>
                    <AccordionBody></AccordionBody>
                        @foreach (story story in edition.stories)
                        {
                        <p class="pStory" id=@($"{story.id}") @onclick="(() => HandleStoryClick(story.id))">@story.text ...</p>
                        }
                </AccordionItem>
            }
        </Accordion>
    }
    else
    {
        <p>Loading...</p>
    }
</Div>
@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    protected override async Task OnInitializedAsync()
    {
        globalService.OnDisplayStoriesChanged += HandleDisplayStoriesChanged;
    }
    public void Dispose()
    {
        globalService.OnDisplayStoriesChanged -= HandleDisplayStoriesChanged;
    }

    private void HandleDisplayStoriesChanged()
    {
        if (globalService.diplayStories) StateHasChanged();
    }

    private void HandleStoryClick(string id)
    {
        // Handle the click event here using the id
        Console.WriteLine($"Clicked story ID: {id}");
    }


}
