@using Microsoft.Extensions.Localization
@inject IStringLocalizer<StoryTEI> Localizer
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration

<Div Class="listControl bigControl">
    <pb-page endpoint=@(Configuration["endpointURL"] + "/HasidicStoriesServer")
             data-template="pages:pb-page" unresolved="unresolved">
        <pb-document id="document1" path=@(fileName + ".xml") odd="Story" view="div"></pb-document>
        <br />
        <div class="content-body">
            <pb-view id="view1" src="document1" xpath="@xpath" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription" animation disable-history />
        </div>
    </pb-page>
</Div>
@code {
    [Parameter] public string fileName { get; set; }
    [Parameter] public string storyId { get; set; }
    string xpath = "";

    protected override async Task OnInitializedAsync()
    {
        xpath = $"//tei:div[@type ='story' and @xml:id='{storyId}']";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var cssUrl = Configuration["endpointURL"] + "/HasidicStoriesServer/resources/css/theme.css";
            await JSRuntime.InvokeVoidAsync("loadCssFile", cssUrl);
        }
    }

}
