<Div Class="listControl">
    <h3>Themes</h3>
</Div>


@code {
    [Inject] GlobalService globalService { get; set; }
    protected override void OnInitialized()
    {
        globalService.OnGlobalThemesChanged += HandleGlobalThemesChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalThemesChanged -= HandleGlobalThemesChange;
    }
    private void HandleGlobalThemesChange()
    {
        StateHasChanged();
    }
}
