@page "/"
@inject IStringLocalizer<Home> localizer

<PageTitle>@localizer["HelloMsg"]</PageTitle>
<pb-page endpoint="http://localhost:8081/exist/apps/HasidicStoriesServer"
             data-template="pages:pb-page" unresolved="unresolved">
    <pb-document id="document1" path="ShivheiHabesht2022-08-6.xml" odd="Stories" view="page"></pb-document>
    <header>
        <!-- Navigate to previous page -->
        <pb-navigation direction="backward" keyboard="left" subscribe="transcription" emit="transcription">
            <paper-button>
                <iron-icon icon="icons:chevron-left"></iron-icon>
            </paper-button>
        </pb-navigation>
        <!-- Navigate to next page -->
        <pb-navigation direction="forward" keyboard="right" subscribe="transcription" emit="transcription">
            <paper-button>
                <iron-icon icon="icons:chevron-right"></iron-icon>
            </paper-button>
        </pb-navigation>
    </header>

    <pb-progress></pb-progress>
    <!-- Output the document title -->
    @localizer["HelloMsg"]
    <pb-view src="document1" xpath="//teiHeader/fileDesc/titleStmt/title[@@type='main']" view="single" disable-history="">
        <pb-param name="header" value="short" />
    </pb-view>
    <div class="content-body">
        <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription" wait-for="#facsimile" animation disable-history />
        <pb-facsimile id="facsimile" type="image" base-uri="http://localhost:8081/exist/apps/HasidicImages/" default-zoom-level="0" 
        show-navigation-control="show-navigation-control" subscribe="transcription" show-home-control="" />
    </div>
</pb-page>
@code {
}

